.punktor-dec {
    line-height: 28px;
}

.punktor-dec ul li {
    line-height: 34px;
}

@media only screen and (max-width: 1000px) {
    .punktor-dec {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}

#rpo-link {
    text-decoration: none;
    color: #004AAD;
}